<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio</title>
</head>
<body>
    <header>
        <nav> 
            <ul>
                <li>
                    <a href="">Página Inicial</a>
                </li>
                <li>
                    <a href="">Sobre mim</a>
                </li>
                <li>
                    <a href="">formação</a>
                </li>
                <li>
                    <a href="">atuação Profissional</a>
                </li>
                <li>
                    <a href="">Portifólio</a>
                </li>
                <li>
                    <a href="">Descrição Tecnologia</a>
                </li>
                <li>
                    <a href="">Contatos</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Front-End Developer</h1>
            <h2>André Costa Queiroz</h2>
        </section>
        <section>
            <div>
                <img width="25%" src="/imagens/Foto_SobreMim.jpg" alt="">
                <h1>Sobre mim</h1>
                <p>Nascido na cidade de Macapá, 
            estado do Amapá, tenho 22 anos de idade e atualmente estou cursando Bacharelado em Ciência da Computação na Universidade Federal do Amapá-UNIFAP.
        Sou um jovem desenvolvedor front-end, ainda bem novo nesse ramo.</p>
            </div>       
        </section>
        <section>
            <div>
                <img width="25%" src="/imagens/Logo Unifap.jpeg" alt="">
                <h1>Formação</h1>
                 <p>Graduação: Cursando Bacharelado em Ciência da Computação
                    Local: Universidade Federal do Amapá
                    Período: Em andamento

                    Curso: Informática Básica
                    Local: E.E. Joel Ramos dos Reis
                    Período: Ano de 2014
                    
                    Curso: Introdução à Lei Brasileira de Proteção de Dados Pessoais
                    Local: Escola Nacional de Administração Pública - Enap
                    Período: 21/10/2022 a 27/10/2022

                    Curso: Segurança em Tecnologia da Informação
                    Local: Escola Virtual Fundação Bradesco 
                    Período: 24/10/2022 a 29/10/2022
                 </p>
            </div>
        </section>
        <section>
            <h1>Atuação Profissional</h1>
            <p>Bolsista: Bolsista de T.I. no Núcleo de Acessibilidade e inclusão - NAI
               Local: Universidade Federal do Amapá
               Período: 06/2021 a 06/2022

               Estagiário: Estagiário em suporte ao usuário, help desk
               Local: SEBRAE-AP
               Período: em andamento


            </p>
        </section>
        <section></section>
        <section></section>
        <section></section>
    </main>
    <footer></footer>
</body>
</html>